<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>a grid work</title>
</head>
<body>
    <div class="grid-container">
        <div class="grid1">
            <h1> hi im guy</h1>
        </div>
        <div class="grid2">
            <ul>
                <li>Googi</li>
                <li>Orrho</li>
                <li>Etai</li>
            </ul>
        </div>
        <div class="grid3">
            <a href="https://fonts.google.com/specimen/Abril+Fatface">Click here to visit Google Fonts</a>
        </div>
        <div class="grid4">
            <img src="../../picture puffin.png" alt="no photo" height="500" width="500">
        </div>
        <div class="grid5">
            <button type="button" id="myButton">This is a useless button</button>
        </div>
      </div>
</body>
</html>